<thead>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Pacifico" rel="stylesheet">
</thead>
<div class="container-form-header">
  <div class="banner">
    <%=image_tag "https://source.unsplash.com/1500x400//?{cocktail}"%>
    <h1 class="new-cocktail"><%= @cocktail.name %></h1>
  </div>
</div>
<h1 class="ingredients">Ingredients :</h1>
<div class="container-form-body">
  <% @cocktail.doses.each do |i| %>
  <h2 class="card-title">
    <%= i.ingredient.name %>
    <%= i.amount %>
    <%= i.description %>
  </h2>
  <br />
  <% end %>
</div>
<div class="container-footer">
  <div class="btn-form"><%= link_to "Back to Cocktails", cocktails_path, class:"margin-btn" %>
    <%= link_to 'Destroy', @cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class:"margin-btn" %></div>
  </div>
</div>
